<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="dao" class="c_inversionOfControl_Maven.dao.DaoImpl"></bean>
	<!-- Version 2 
	<bean id="dao" class="c_inversionOfControl_Maven.extension.DaoImplV2"></bean>-->
	<bean id="metier" class="c_inversionOfControl_Maven.metier.MetierImpl">
		<!--Injection via setDao()  -->
		<property name="dao" ref="dao"></property>
		
		<!--Si on veut utiliser l'injection via le constructor  -->
		<!--<constructor-arg ref="dao"></constructor-arg> -->
	</bean>

</beans>